.container {
    height: calc(100vh - 4.75rem);
    position: relative;
}
nb-layout-column {
    padding: 0px !important;
}
.chatbot-container {
    height: 50vh;
    width: 400px;
    position: fixed;
    bottom: 2em;
    right: 3em;
}
.header-container {
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content-container {
    padding: 4em;
    padding-top: 5em;
    height: 100%;
}
.profile-header {
    font-weight: 700;
    opacity: 1;
    letter-spacing: 2px;
    font-size: 13px;
    color: #3366FF;
}
.profile-name {
    font-size: 40px;
    margin-top: 24px;
    margin-top: 0px;
}
.profile-detail-container {
    margin-top: 4em;
    display: flex;
    // margin-left: 96px;
}
.about-container {
    flex: 1;
}
.preference-container {
    flex: 1;
    padding-left: 2em;
}
.content-top-section {
    display: flex;
}

.profile-section {
    flex: 1;
}
.quick-view-section {
    flex: 1;
    margin-left: 8em;
    margin-top: 3.5em;
}
.content-container {
    display: flex;
    flex-direction: column;
}
.content-top-section {
    flex: 1;
}
.content-bottom-section {
    flex: 1;
    margin-top: 4em;
}
.avatar {
    height: 80px;
    width: 80px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-right: 0.5em;
    font-weight: 700;
    opacity: 0.6;
}
.user-detail-header {
    display: flex;
    align-items: center;
}
.profile-content {
    margin-top: 1em;
    font-size: 13px;
    text-align: justify;
    padding-right: 4em;
    line-height: 22px;
}
.getaway-container {
    margin-top: 2em;
    display: flex;
}
nb-card {
    max-width: 300px;
    overflow: hidden;
}
.card-image-container {
    height: 160px;
    min-width: 300px;
}
.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-content {
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
}
.card-category {
    padding: 4px 12px;
    background-color: #dee2e6;
    border-radius: 2px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    margin-top: -32px;
    color: rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
}
.card-description {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.card-container {
    margin-right: 1em;
}
.getaway-container {
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.preference-holder {
    margin-top: 2em;
    font-size: 13px;
}
.filter {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.action-button {
    margin-top: 2em;
}
.drop-down-container {
    max-width: 120px;
    margin-right: 8px;
}
.budget-filter-input {
    width: 8rem;
}
.sub-text{
    margin-top: 12px;
}
.featured-destination {
    display: flex;
    margin-top: 2em;
}
.destination-card-image-container {
    min-height: 100px;
    width: 120px;
}
.destination-card {
    display: flex;
}
.destination-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.destination-card-description {
    margin-top: 1em;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 1em;
    margin-right: 1em;
}
.popular-posts {
    margin-top: 3em;
}
.filter-message {
    font-weight: 600;
}
.logo {
    font-weight: 700;
    font-family: 'Montserrat';
}