@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
.sender {
  margin-bottom: 0px !important;
  margin-top: 8px;
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #000000 !important;
}
time {
  font-size: 10px;
  color: rgba($color: #000000, $alpha: 0.4) !important;
}
[dir=ltr] .nb-theme-default nb-chat-message.not-reply nb-chat-message-text .text {
  border-top-left-radius: 0;
  margin-top: 12px !important;
  font-size: 13px !important;
}
[dir=ltr] .nb-theme-default nb-chat-message.reply nb-chat-message-text .text {
  border-top-right-radius: 0;
  margin-top: 12px !important;
  font-size: 13px !important;
}
.nb-theme-default nb-layout .layout {
  background-color: #FFFFFF !important;
}
.nb-theme-default nb-card-body {
  padding: 0px !important;
  overflow: hidden;
}
.nb-theme-default nb-select.size-small:not(.full-width) {
  max-width: 10rem !important;
}
.nb-theme-default nb-select .select-button {
  min-width: 8rem;
}
.nb-theme-default nb-card {
  margin-bottom: 0px !important;
}
.response-buttons {
  width: fit-content;
  background-color: rgba(51, 102, 255, 0.08);
  border-color: #3366ff;
  color: #3366ff;
  padding: 0.4375rem 0.875rem;
  border-style: solid;
  border-width: 0.0625rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  transition-duration: 0.15s;
  transition-property: background-color, border-color, box-shadow, color;
  transition-timing-function: ease-in;
  appearance: none;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  outline: none;
  margin-left: 40px;
  margin-bottom: 8px;
}
.nb-theme-default nb-spinner.status-basic {
  background-color: #FFFFFF !important;
}
.post-card-container {
  background-color: #e4e9f2;
  max-width: 250px;
  border-radius: 4px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 50px;
}
.post-card-image {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
  object-fit: cover;
}
.post-card-image-container {
  height: 200px;
  width: 250px;
  display: flex;
  overflow: hidden;
}
.link-container {
    padding: 1em;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
    font-size: 12px;
    color: #000000;
    font-weight: 600;
}