<nb-chat title="Travel Assistant" status="primary">
  <nb-chat-message
    *ngFor="let msg of messages; let i = index"
    id='{{i}}-{{msg.sender}}'
    type="msg.type"
    [message]="msg.text"
    [reply]="msg.reply"
    [sender]="msg.sender"
    [date]="msg.date"
    [avatar]="msg.avatar"
  >
  </nb-chat-message>

  <!-- <nb-chat-message
    *ngIf="loading"
    type="text"
    avatar="/assets/bot-avatar.jpg"
    message="..."
  >
  </nb-chat-message> -->

  <nb-chat-form (send)="handleUserMessage($event)" [dropFiles]="false">
  </nb-chat-form>
</nb-chat>
